<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Jerry's Resume</title>
    <link rel="stylesheet" href="/resume_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/resume_assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/stylesheets/croppie.css" />
  </head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/resume/<%= name %>">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/resume_projects">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/resume_cv">Resume</a></li>
                    <% if (locals.login && login) { %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/users/logout?bounceback=/resume/<%= name %>">Log out</a></li>
                    <% } else { %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/users/login?bounceback=/resume/<%= name %>">Create yours</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                  <% if (locals.login && login) { %>
                  <div class="avatar upload-demo" id="avatar" style="background-image:url(<%= avatar['return'] %>);"></div>
                  <input type="file" id="avatar_file" accept="image/*">
                  <button id="upload-result">upload</button>
                  <% } else { %>
                    <div class="avatar" id="avatar" style="background-image:url(<%= avatar['return'] %>);"></div>
                  <% }%>
                </div>
                <div class="about-me">
                  <% if (locals.aboutme) { %>
                    <% for (i = 0; i < aboutme['return'].length; i++) { %>
                      <p><%- aboutme['return'][i]['data'] -%>
                      <% if (locals.login && login) { %>
                      <button class="delete_about_me" id="<%= aboutme['return'][i]['_id'] %>">Delete Me</button>
                      <% } %>
                      </p>
                    <% } %>
                  <% } %>
                  <% if (locals.login && login) { %>
                  <p id="test_drive"></p>  
                  <form action="/resume/upload/text/<%= name %>" method="post">
                    <textarea id="text" name="text" style="width:100%;height:150px;">Hello! I am <strong>Zhipeng Xie</strong>. I am seeking a Software Enginnering Internship during the Summer 2019/2020.</textarea>
                    <br>
                    <input type="hidden" id="id" name="id" value="about-me">
                    <input type="hidden" id="kind" name="kind" value="home_page">
                    <button type="button" id="cancelPreview">Cancel the Preview</button>
                    <input type="submit" value="Submit" />
                  </form>
                  <% } %>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Webapp Dev</h3>
                                <p class="card-text">Being familiar with Python3, JavaScript, Node.JS development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">System Architecture Design</h3>
                                <p class="card-text">Contributed to group projects' system architecture design.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Stickler</h3>
                                <p class="card-text">Sparing no effort to make things perfect</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer"></footer>
    <script src="/resume_assets/js/jquery.min.js"></script>
    <script src="/resume_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/resume_assets/js/script.min.js"></script>
    <script src="/javascripts/croppie.min.js"></script>

    <% if (locals.login && login) { %>
    <script>
      function Upload() {
        var $uploadCrop;
        function readFile(input) {
          if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
              $('.upload-demo').addClass('ready');
                    $uploadCrop.croppie('bind', {
                      url: e.target.result
                    }).then(function(){
                      console.log('jQuery bind complete');
                    });
                    
                  }
                  reader.readAsDataURL(input.files[0]);
              }
              else {
                console.log("Sorry - your browser doesn't support the FileReader API");
            }
        }

        $uploadCrop = $('.upload-demo').croppie({
          viewport: {
            width: 100,
            height: 100,
            type: 'circle'
          },
          enableExif: true
        });

        $('#avatar_file').on('change', function () { readFile(this); });
        $('#upload-result').on('click', function (ev) {
          $uploadCrop.croppie('result', {
            type: 'canvas',
            size: 'viewport'
          }).then(function (resp) {
            fetch('/resume/upload/image/<%= name %>', {
              method: 'POST',
              headers: {
                'Accept': 'application/json, text/plain',
                'Content-type': 'application/json'
              },
              body: JSON.stringify({
                image: resp,
                id: "avatar",
                kind: "home_page",
              })
            })// Promise(s)
            .then((res) => res.json())
            .then((data) => {
              if(data['success'] == undefined || data['success'] == '' || data['success'] == null) 
              {
                if(data['msg']) {
                  alert(data['msg'])
                }
              } 
              else if(data['success'] == false){
                if(data['msg']) {
                  alert(data['msg'])
                }
              } 
              else 
              {
                $("#avatar").attr("style", "background-image:url(" + resp + ")")
              }
            })
          });
        });
      }
      $(document).ready(function(){
        Upload()
        $("#text").on('input', function(e){
          $("#test_drive").html($("#text").val())
        })
        $("#cancelPreview").click(function() {
          $("#test_drive").empty()
        })
        $(".delete_about_me").click(function(){
          var retVal = confirm("Do you want to delete this?")
          if(!retVal){return}
          fetch('/resume/delete/<%= name %>', {
            method: 'POST',
            headers: {
              'Accept': 'application/json, text/plain',
              'Content-type': 'application/json'
            },
            body: JSON.stringify({
              oid: $(this).attr( "id" ),
            })
          })// Promise(s)
          .then((res) => res.json())
          .then((data) => {
            location.reload();
          })
        })
      })
    </script>
    <% }%>
</body>

</html>
